{
  "openapi": "3.0.1",
  "info": {
    "title": "NCOVVN API",
    "description": "API cung cấp thông tin về COVID-19!",
    "license": {
      "name": "GNU V3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
    },
    "version": "1.0.0"
  },
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "servers": [
    {
      "url": "https://api.ncovvn.xyz"
    }
  ],
  "tags": [
    {
      "name": "Worldometers",
      "description": "Dữ liệu COVID-19 lấy từ Worldometers, được cập nhật 10 phút một lần"
    },
    {
      "name": "ncov",
      "description": "Dữ liệu lấy từ trang chủ của Bộ Y Tế Việt Nam, được cập nhật 2 tiếng một lần"
    },
    {
      "name": "Lịch Sử",
      "description": "Lịch sử dữ liệu COVID-19 của Việt Nam lấy từ Vnexpress, được cập nhật 10 phút một lần"
    },
    {
      "name": "Thành Phố VN",
      "description": "Dữ liệu COVID-19 theo thành phố ở Việt Nam, được cập nhật 10 phút một lần!"
    },
    {
      "name": "An Toàn COVID",
      "description": "Thống kê mức độ an toàn các thành phố ở Việt Nam lấy từ antoancovid.vn, được cập nhật 10 phút một lần!"
    }
  ],
  "paths": {
    "/wom": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 toàn cầu cho hôm nay và hôm qua",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidAll"
                }
              }
            }
          }
        }
      }
    },
    "/wom/countries": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 từng quốc gia cho hôm nay và hôm qua",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidCountries"
                }
              }
            }
          }
        }
      }
    },
    "/wom/countries/{country}": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "Tên quốc gia, mã ISO2, ISO3 hoặc mã quốc gia",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 quốc gia chỉ định",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidCountry"
                }
              }
            }
          }
        }
      }
    },
    "/wom/states": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 các bang ở Hoa Kỳ",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidStates"
                }
              }
            }
          }
        }
      }
    },
    "/wom/states/{state}": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "Tên bang ở Hoa Kỳ",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 của bang chỉ định ở Hoa Kỳ",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidState"
                }
              }
            }
          }
        }
      }
    },
    "/ncov": {
      "get": {
        "tags": [
          "ncov"
        ],
        "deprecated": true,
        "summary": "Tất cả dữ liệu của bệnh nhân tại Việt Nam",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ncovAll"
                }
              }
            }
          }
        }
      }
    },
    "/ncov/{id}": {
      "get": {
        "tags": [
          "ncov"
        ],
        "deprecated": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Số thứ tự của bệnh nhân",
            "type": "number"
          }
        ],
        "summary": "Lấy dữ liệu của bệnh nhân được chỉ định tại Việt Nam",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ncov"
                }
              }
            }
          }
        }
      }
    },
    "/historical": {
      "get": {
        "tags": [
          "Lịch Sử"
        ],
        "summary": "Tất cả lịch sử dữ liệu COVID-19 của Việt Nam",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/historicalVNArr"
                }
              }
            }
          }
        }
      }
    },
    "/cityvn": {
      "get": {
        "tags": [
          "Thành Phố VN"
        ],
        "summary": "Tất cả dữ liệu COVID-19 xếp theo Thành Phố",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cityvnArr"
                }
              }
            }
          }
        }
      }
    },
    "/lastsevenday": {
      "get": {
        "tags": [
          "ncov"
        ],
        "summary": "Dữ liệu COVID-19 của Việt Nam 7 ngày gần nhất",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lastSevenDayArr"
                }
              }
            }
          }
        }
      }
    },
    "/antoan": {
      "get": {
        "tags": [
          "An Toàn COVID"
        ],
        "summary": "Tất cả dữ liệu mức độ an toàn xếp theo thành phố",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/antoanCovidArr"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "covidAll": {
        "properties": {
          "updated": {
            "type": "number"
          },
          "cases": {
            "type": "number"
          },
          "todayCases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          },
          "todayDeaths": {
            "type": "number"
          },
          "recovered": {
            "type": "number"
          },
          "todayRecovered": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "critical": {
            "type": "number"
          },
          "affectedCountries": {
            "type": "number"
          }
        }
      },
      "covidCountries": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/covidCountry"
        }
      },
      "covidCountry": {
        "properties": {
          "updated": {
            "type": "number"
          },
          "country": {
            "type": "string"
          },
          "countryInfo": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "number",
                "uniqueItems": true
              },
              "iso2": {
                "type": "string",
                "uniqueItems": true
              },
              "iso3": {
                "type": "string",
                "uniqueItems": true
              },
              "lat": {
                "type": "number"
              },
              "long": {
                "type": "number"
              },
              "flag": {
                "type": "string"
              }
            }
          },
          "cases": {
            "type": "number"
          },
          "todayCases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          },
          "todayDeaths": {
            "type": "number"
          },
          "recovered": {
            "type": "number"
          },
          "todayRecovered": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "critical": {
            "type": "number"
          }
        }
      },
      "covidState": {
        "properties": {
          "state": {
            "type": "string"
          },
          "updated": {
            "type": "number"
          },
          "cases": {
            "type": "number"
          },
          "todayCases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          },
          "todayDeaths": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "casesPerOneMillion": {
            "type": "number"
          },
          "deathsPerOneMillion": {
            "type": "number"
          },
          "tests": {
            "type": "number"
          },
          "testsPerOneMillion": {
            "type": "number"
          },
          "population": {
            "type": "number"
          }
        }
      },
      "covidStates": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/covidState"
        }
      },
      "ncov": {
        "properties": {
          "id": {
            "type": "number"
          },
          "tuoi": {
            "type": "number"
          },
          "dia_diem": {
            "type": "string"
          },
          "tinh_trang": {
            "type": "string"
          },
          "quoc_tich": {
            "type": "string"
          }
        }
      },
      "ncovAll": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ncov"
        }
      },
      "historicalVN": {
        "properties": {
          "ngay": {
            "type": "string"
          },
          "cong_dong": {
            "type": "number"
          },
          "tong_cong_dong": {
            "type": "number"
          },
          "blockade": {
            "type": "number"
          },
          "community": {
            "type": "number"
          },
          "imported": {
            "type": "number"
          },
          "new_deaths": {
            "type": "number"
          },
          "new_recovered": {
            "type": "number"
          },
          "new_cases": {
            "type": "number"
          },
          "total_cases": {
            "type": "number"
          },
          "total_deaths": {
            "type": "number"
          },
          "total_recovered": {
            "type": "number"
          },
          "quy_vaccine": {
            "type": "number"
          },
          "quy_vaccine_hom_nay": {
            "type": "number"
          },
          "mien_bac": {
            "type": "number"
          },
          "mien_trung": {
            "type": "number"
          },
          "mien_nam": {
            "type": "number"
          },
          "tong_mien_bac": {
            "type": "number"
          },
          "tong_mien_trung": {
            "type": "number"
          },
          "tong_mien_nam": {
            "type": "number"
          },
          "new_active": {
            "type": "number"
          },
          "total_active": {
            "type": "number"
          },
          "total_cases_2020": {
            "type": "number"
          },
          "total_deaths_2020": {
            "type": "number"
          },
          "total_recovered_2020": {
            "type": "number"
          },
          "deaths_per_cases": {
            "type": "string"
          },
          "deaths_1m_pop": {
            "type": "number"
          },
          "cases_1m_pop": {
            "type": "number"
          },
          "ma7_local_cases": {
            "type": "number"
          },
          "ma7_recovered": {
            "type": "number"
          },
          "ma7_deaths": {
            "type": "number"
          },
          "city_by_day": {
            "type": "number"
          },
          "mt7_local_cases": {
            "type": "number"
          },
          "mt7_recovered": {
            "type": "number"
          },
          "mt7_deaths": {
            "type": "number"
          },
          "diff_mt7_local_cases": {
            "type": "number"
          },
          "diff_mt7_recovered": {
            "type": "number"
          },
          "diff_mt7_deaths": {
            "type": "number"
          },
          "per_mt7_local_cases": {
            "type": "string"
          },
          "per_mt7_recovered": {
            "type": "string"
          },
          "per_mt7_deaths": {
            "type": "string"
          },
          "vaccine_doses": {
            "type": "number"
          },
          "vaccine_dose_per_pop": {
            "type": "string"
          },
          "total_cities": {
            "type": "number"
          },
          "day_full": {
            "type": "string"
          }
        }
      },
      "historicalVNArr": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/historicalVN"
        }
      },
      "cityvn": {
        "properties": {
          "updatedAt": {
            "type": "number"
          },
          "dia_diem": {
            "type": "string"
          },
          "tong_ca_nhiem": {
            "type": "number"
          },
          "hom_nay": {
            "type": "number"
          },
          "tu_vong": {
            "type": "number"
          }
        }
      },
      "cityvnArr": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/cityvn"
        }
      },
      "antoanCovid": {
        "properties": {
          "updatedAt": {
            "type": "number"
          },
          "dia_diem": {
            "type": "string"
          },
          "an_toan": {
            "type": "number"
          },
          "co_rui_ro": {
            "type": "number"
          },
          "khong_an_toan": {
            "type": "number"
          },
          "chua_danh_gia": {
            "type": "number"
          },
          "ty_le_an_toan": {
            "type": "string"
          },
          "muc_do_an_toan": {
            "type": "string"
          }
        }
      },
      "antoanCovidArr": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/antoanCovid"
        }
      },
      "lastSevenDay": {
        "properties": {
          "date": {
            "type": "string"
          },
          "death": {
            "type": "number"
          },
          "treating": {
            "type": "number"
          },
          "cases": {
            "type": "number"
          },
          "recovered": {
            "type": "number"
          },
          "avgCases7day": {
            "type": "number"
          },
          "avgRecovered7day": {
            "type": "number"
          },
          "avgDeath7day": {
            "type": "number"
          }
        }
      },
      "lastSevenDayArr": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/lastSevenDay"
        }
      }
    }
  }
}