{
  "openapi": "3.0.1",
  "info": {
    "title": "NCOVVN API",
    "description": "API cung cấp thông tin về ncov!",
    "license": {
      "name": "GNU V3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
    },
    "version": "1.0.0"
  },
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "servers": [
    {
      "url": "https://api.ncovvn.xyz"
    }
  ],
  "tags": [
    {
      "name": "Worldometers",
      "description": "Dữ liệu COVID-19 lấy từ Worldometers, được cập nhật 10 phút một lần"
    }
  ],
  "paths": {
    "/wom": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 toàn cầu cho hôm nay và hôm qua",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidAll"
                }
              }
            }
          }
        }
      }
    },
    "/wom/countries": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 từng quốc gia cho hôm nay và hôm qua",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidCountries"
                }
              }
            }
          }
        }
      }
    },
    "/wom/countries/{country}": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "Tên quốc gia, mã ISO2, ISO3 hoặc mã quốc gia",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 quốc gia chỉ định",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidCountry"
                }
              }
            }
          }
        }
      }
    },
    "/wom/states": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 các bang ở Hoa Kỳ",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidStates"
                }
              }
            }
          }
        }
      }
    },
    "/wom/states/{state}": {
      "get": {
        "tags": [
          "Worldometers"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "Tên bang ở Hoa Kỳ",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "description": "Lấy dữ liệu hôm qua",
            "type": "string"
          }
        ],
        "summary": "Dữ liệu COVID-19 của bang chỉ định ở Hoa Kỳ",
        "responses": {
          "200": {
            "description": "Đã lấy dữ liệu thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/covidState"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "covidAll": {
        "properties": {
          "updated": {
            "type": "number"
          },
          "cases": {
            "type": "number"
          },
          "todayCases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          },
          "todayDeaths": {
            "type": "number"
          },
          "recovered": {
            "type": "number"
          },
          "todayRecovered": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "critical": {
            "type": "number"
          },
          "affectedCountries": {
            "type": "number"
          }
        }
      },
      "covidCountries": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/covidCountry"
        }
      },
      "covidCountry": {
        "properties": {
          "updated": {
            "type": "number"
          },
          "country": {
            "type": "string"
          },
          "countryInfo": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "number",
                "uniqueItems": true
              },
              "iso2": {
                "type": "string",
                "uniqueItems": true
              },
              "iso3": {
                "type": "string",
                "uniqueItems": true
              },
              "lat": {
                "type": "number"
              },
              "long": {
                "type": "number"
              },
              "flag": {
                "type": "string"
              }
            }
          },
          "cases": {
            "type": "number"
          },
          "todayCases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          },
          "todayDeaths": {
            "type": "number"
          },
          "recovered": {
            "type": "number"
          },
          "todayRecovered": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "critical": {
            "type": "number"
          }
        }
      },
      "covidState": {
        "properties": {
          "state": {
            "type": "string"
          },
          "updated": {
            "type": "number"
          },
          "cases": {
            "type": "number"
          },
          "todayCases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          },
          "todayDeaths": {
            "type": "number"
          },
          "active": {
            "type": "number"
          },
          "casesPerOneMillion": {
            "type": "number"
          },
          "deathsPerOneMillion": {
            "type": "number"
          },
          "tests": {
            "type": "number"
          },
          "testsPerOneMillion": {
            "type": "number"
          },
          "population": {
            "type": "number"
          }
        }
      },
      "covidStates": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/covidState"
        }
      }
    }
  }
}