name: Eslint
on:
  push:
    branches: 
      - '*'
  pull_request:
    branches: 
      - '*'
    paths-ignore:
      - '.github/**'
      - '*.md'
      - 'assets/**'
      - 'LICENSE'
      - 'node_modules/*'
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn install --frozen-lockfile
      - run: yarn run lint